/* Structure */

body {
    background-color:rgba(153, 200, 206, 0.9);
}

#main-content {
    width: 75%;
    margin:auto;
    padding: 0 5px;
    border-radius: 10px
}

header {
    color: darkslategray;
}
h1 {
    background-color:rgb(91, 155, 156); 
    text-align: center;
    color: darkslategray;
    border-radius: 5px;
}

h2{
    text-align: center;
    color: darkslategrey;
}

p {
    color:rgb(6, 80, 76);
}

li {
    text-align: center;
}

a {
    text-decoration: none;
    color: darkslategray;
}
a:hover {
    color: deepskyblue;
}

/* Typography */

body {
    font-family: Arial, Helvetica, sans-serif;
}
